
.special {
	position:relative;
    left:800px;
    height:247px;
	background-image: url(../images/special_offer_bg.png);
  
    background-repeat: no-repeat;	
}
#counter {
	position:absolute;
	top:5px;
	left:10px;
	z-index:4000;
}

.digit-separator {position: relative; float: left; width: 17px; height: 44px; overflow: hidden; background-image: url(../images/digit_separator.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.digit {
	background-image:url(../images/digits.png)
}

